 
 h1 { font-family: 'Slabo 27px', serif; font-weight: 400; }

body {
	color:#00FFFF;
}

.CrystalC{
	h1:#0000FF;
	float: left;
}

#wrapper{
	background-color:#FF8C00;
	float: left;
}

#wrapperbody{
	background-color:#FFEBCD;
	float: left;
}



